
<h1>Users</h1>

<table>
  <thead>
    <tr>
      <th>Username</th>
      <th>Email</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% current_user.pending_friends.each do |user| %>
      <tr>
        <td><%= user.username %></td>
        <td><%= user.email %></td>
        <td>pending approval</td>
      </tr>
    <% end %>
    <% current_user.friend_requests.each do |user| %>
      <tr>
        <td><%= user.username %></td>
        <td><%= user.email %></td>
        <td>Approve request</td>
      </tr>
    <% end %>
    <% current_user.friends.each do |user| %>
      <tr>
        <td><%= user.username %></td>
        <td><%= user.email %></td>
        <td><%= link_to 'Remove friend', user_friendship_path(user.id, current_user.id), method: :delete %></td>
      </tr>
    <% end %>
    <% current_user.no_relation.each do |user| %>
      <tr>
        <td><%= user.username %></td>
        <td><%= user.email %></td>
        <td><%= link_to 'Add friend', user_friendship_index_path(user.id, current_user.id), method: :post %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'New Post', new_post_path %>
