<p>Email: <%= @user.email %></p>

<% if @user.posts.count > 0 %>
  <table> User Posts
    <thead>
      <tr>
        <th>Content</th>
        <th>Created at</th>
        <th colspan="1"></th>
      </tr>
    </thead>
    <tbody>
      <% @user.posts.each do | post | %>
        <tr>
          <td><%= post.content %></td>
          <td><%= post.created_at %></td>
          <td><%= link_to 'Show', post %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>

<% if @user.liked_posts.count > 0 %>
  <table> Liked posts
    <thead>
      <tr>
        <th>Content</th>
        <th>Created at</th>
        <th colspan="1"></th>
      </tr>
    </thead>
    <tbody>
      <% @user.liked_posts.each do | lp | %>
        <tr>
          <td><%= lp.post.content %></td>
          <td><%= lp.post.created_at %></td>
          <td><%= link_to 'Show', lp.post %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>

<%= link_to 'Back', users_path %>
