
<p>
  <strong>Content:</strong>
  <%= @post.content %>
</p>

<% if @post.liked_posts.count > 0 %>
  <table>
    <thead>
      <tr>
        <th>Likes <%= @post.liked_posts.count %></th>
        <th colspan="1"></th>
      </tr>
    </thead>
    <tbody>
      <% @post.liked_posts.each do | ul | %>
        <tr>
          <td>Liked by</td>
          <td><%= ul.user.username %></td>
          <td><%= link_to 'Show', ul.user %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>

<p>
  <strong>Email:</strong>
  <%= @post.user.email %>
</p>


<p>
  <strong>User:</strong>
  <%= @post.user.username %>
</p>

<%= render 'comments/comment' %>

<%= render 'comment_form' %>


<%= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to 'Back', posts_path %>
